<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定接口-->
<mapper namespace="cn.wblog.dao.UserMapper">

  <resultMap id="BaseResultMap" type="cn.wblog.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
  </resultMap>

  <select id="getUserByUsername" parameterType="java.lang.String" resultType="cn.wblog.entity.User">
      SELECT * FROM user WHERE username = #{username}
  </select>


  <!--<select id="getUserByUsername" parameterType="java.lang.String" resultType="java.lang.String">-->
    <!--SELECT password FROM  user WHERE username = #{username}-->

  <!--</select>-->


</mapper>