<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定接口-->
<mapper namespace="cn.wblog.dao.UserMapper">

  <resultMap id="userMap" type="cn.wblog.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
    <result column="updatetime" jdbcType="VARCHAR" property="updatetime" />
    <result column="isexist" jdbcType="VARCHAR" property="isexist" />
    <result column="lastip" jdbcType="VARCHAR" property="lastip" />
    <result column="iplocation" jdbcType="VARCHAR" property="iplocation" />
  </resultMap>

  <!--根据用户名查询密码-->
  <select id="getUserByUsername" parameterType="java.lang.String" resultType="java.lang.String">
      SELECT password FROM user WHERE username = #{username}
  </select>

  <!--查询所有用户-->
  <select id="findAllUser" resultMap="userMap">
    SELECT * FROM  user
  </select>

  <!--添加新用户-->
  <insert id="insertUser" parameterType="cn.wblog.entity.User">
    INSERT INTO user(username,password,realname,state,email,createtime,updatetime,isexist,lastip,iplocation) VALUES (#{username},#{password},#{realname},#{state},#{email},#{createtime},#{updatetime},#{isexist},#{lastip},#{iplocation})
  </insert>

</mapper>